In [18]:
import pandas as pd
import requests

In [19]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [20]:
df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [21]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,32.4483,8.715,29740
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,44.1081,8.687,22462
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,18.7581,8.571,13592
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,17.4723,8.567,17112
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,12.0231,8.555,9743

In [25]:
df = pd.DataFrame()

In [26]:
df

Empty DataFrame
Columns: []
Index: []

In [28]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = pd.concat([df, temp_df],ignore_index=True)

In [29]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,32.4483,8.715,29740
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,44.1081,8.687,22462
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,18.7581,8.571,13592
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,17.4723,8.567,17112
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,12.0231,8.555,9743
...,...,...,...,...,...,...,...
8555,1679,Godzilla Raids Again,Two fishing scout pilots make a horrifying dis...,1955-04-24,1.8683,5.978,322
8556,9096,Medicine Man,An eccentric scientist in the Amazon jungle re...,1992-02-07,1.2069,5.977,411
8557,930600,The Deliverance,"Ebony Jackson, a struggling single mother figh...",2024-08-16,2.2011,5.976,528
8558,45535,Fatal,"Fatal... short for Fatal Bazooka, a hardcore b...",2010-06-16,0.9765,5.976,656
8559,8698,The League of Extraordinary Gentlemen,"To prevent a world war from breaking out, famo...",2003-07-11,4.6784,5.976,4271

In [30]:
df.shape

(8560, 7)

In [31]:
df.to_csv('movies.csv')